
.btn-primary.focus, .btn-primary:focus {
    box-shadow: none !important;
}

footer {
    display: block;
}
.navbar {
    color: #DDDDDD;
    border: 0.5em;
    font-family: 'Monoton', cursive;
}
.nav-item {
    padding-right: 2em;
    font-family: 'Monoton', cursive;
    font-size: 1.50rem;
}
.navbar-light {
    color: #767676;
}
.navbar-brand {
    padding-left: 2.15em;
    font-size: 1.50rem;
}
.display-4, .lead {
    font-size: 4rem;
    text-align: center;
    font-family: 'Bangers', cursive;
}

.jumbotron {
    color: #414141;
    background-color: #f4f3ef;
    font-family: 'Monda', cursive;
}

.container {
    color: black;
    font-weight: bold;
    font-family: 'Aldrich', sans-serif;
}

.top-buffer {
    margin-top: 2.5em;
}

.side-buffer {
    margin-left: 1.5em;
    margin-right: 1.5em;
}

.right-buffer {
    margin-right: 5.0em;
}

.left-buffer {
    margin-left: 1.0em;
}

#footer{
    margin:5em 0;
    font-family: 'Voces', cursive;
}
#footer li{
    float:left;
    margin-right:1.5em;
    margin-bottom:1.5em;
}
#footer p{
    clear:left;
    margin-bottom:0
}

#footer a{
    color: #d23b34;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
  }                                                             

.subtext {
   text-align: center;
   font-size: 1.15rem;
}

.subtext a {
    color: #d23b34;
}

.lead {
    font-size: 1.50rem;
}

span.computed-term-gpa {
    font-size: 1.5rem;
}

.course {
    display: inline-block;
}

.info-message, .calc-button-error {
    font-family: 'Lato', sans-serif;
}

.modal-title {
    font-family: 'Monoton', cursive; 
    color: #d23b34;
}

.gpa {
    font-family: 'Inconsolata', monospace;
}

@media screen and (max-width: 764px) {
    .top-buffer-sm {
        margin-top: 1.5em;
    }
    .side-buffer {
        margin-right: -0.5em;
        margin-left: 2.5em;
    }
}